#container {
    margin-top: 10px;
    line-height: 0px;
    min-width: 720px;
    clear: both;
}

h3, h4, h5 {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    clear:both;
}

label {
    font-size: .8em;
}

.newEventInput {
    display: block;
    margin-top: 5px;
    height: 38px;
}

.newEventInput div.eventInputItem {
    float: left;
    margin-right: 17px;
    position: relative;
    height: 100%;
}

.newEventInput div.eventInputItem:first-of-type{
    margin-left: 0px;
}

.eventInputItem input {
    display: block;    
    height: 15px;
    padding: 0px;
}
.eventInputItem textarea {    
    display: block;
    width: 30em;
    height: 3em;
    overflow: auto;
    font-size: .8em;
    z-index: 1;
    position: relative;
}

.eventInputItem input[type="color"] {        
    height: 18px;    
}

.eventInputItem button {
    position: absolute;
    bottom: 0;
}

.year {
    display: block;
    width: auto;
}

.yearNo {
    display: inline-block;
    width: 1em;
    margin-right: 10px;
    font-size: 10px;
    text-align: right
}

.week {
    display: inline-block;
    width: 8px;
    height: 8px;
    font-size: 6px;
    box-sizing: border-box;
}


.week.spent.birthday, .week.available.birthday {
    border-bottom: 2px solid gold;
    background-color: gold;
}
.week.spent {    
    border: 1px solid red;
}
.week.current {    
    background-color: blue;
    border: 1px solid blue;
}
.week.available {    
    border: 1px solid green;
}

span.event {
     /* width & height = .week height/width minus .week border thickness (box-sizing property) */
    width: 7px;
    height: 7px;
    display: block;
    position: absolute;
}

